<%# Navbar is auto-rendered with layouts/application.html.erb %>

<%# Title %>
<br>
<h1>Welcome to the Airbnb Clone <i class="fas fa-heart"></i></h1>
<br>

<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.fcmtravel.com/sites/default/files/styles/grid_items/public/why-choose-summary.jpg?itok=LAqXcbBq);">
  <div class="container">
    <h1>Rent or be rented?</h1>
    <p><strong>Hotels</strong> are for losers. <strong>Owning</strong> is for posers.</p>
  </div>
</div>
<div class="min-vh-100 container">
<br>
<h3>All Available Flats to Rent</h3>
<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?house)">
    Sweet House
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?mansion)">
    Windsor Mansion
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?cottage)">
    Riverside Cottage
  </div>
</div>

</div>
<%# Footer is auto-rendered with layouts/application.html.erb %>